<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h2>Edit your Blog</h2>
    <h3>Blog ID: <%= blog.id %></h3>
    <h3>Blog Title: <%= blog.title %></h3>

    <form method="post" action="/blogs/<%= blog.id %> ?_method=PATCH">
        <textarea name="short_content"><%= blog.short_content  %></textarea>
        <button>Submit</button>
    </form>
</body>
</html>