<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here Is Cretae a new Blog</h1>
    <form method="post" action="/blogs">
         <input placeholder="Enter Title of Your Blog: " name="title"> <br><br><br>
         <textarea placeholder="Enter Short Contain of Your Blog: "name="short_content"></textarea>
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>